<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 articledescription">
      <h1><%= @article.title %>
        <%= link_to '', edit_article_path(@article), class: "fas fa-pen" %>
        <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'fas fa-trash' do %>
        <% end %>
      </h1>
      <hr>
      <p><%= @article.content %></p>
      <%= link_to 'Back', articles_path, class: "backbutton" %>
    </div>
  </div>
</div>
